.pac-icon {
  display: none;
}
.pac-container {
  background-color: rgb(255, 255, 255);
  opacity: 0.95;
  border-radius: 0px 0px 10px 10px;
}
.pac-item {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}
.pac-item:hover {
  background-color: #ececec;
}
.pac-container:after {
  background-image: none !important;
  height: 0px;
}